<!doctype html>
<!--[if lt IE 7]> <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title dir="ltr"><%= @title %> | Notes</title>
  <meta name="viewport" content="width=device-width">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1><a href="/">Notes</a></h1>
    <span id="username"><%= is_logged_in? ? "Welcome, #{get_user}" : get_user %></span>
    <span id="logout"><%= "<a href=\"/logout\">Logout</a>" if is_logged_in? %></span>
  </header>
  <div id="head_bg"></div>
  <div id="main">
    <%= yield %>
  </div>
  <footer>
    <p>Built by Rodney Keeling with <a href="http://www.sinatrarb.com">Sinatra</a>.</p>
  </footer>
</body>
</html>
