<div id="login">
  <h1>Login page</h1><br />
  <form action="/login" method="post">
    Username:<br /> <input type="text" name="username" value="" /><br />
    Password:<br /> <input type="password" name="password" value="" /><br />
    <input type="submit" class="submit" value="Log in" name="" />
  </form>
</div>
