<h1>Signup page</h1>
<form action="/signup" method="post">
  User: <input type="text" name="username" value="" />
  Password: <input type="password" name="password" value="" />
  <input type="submit" class="submit" value="Log in" name="" />
</form>
